{% load static %}
{% for comment in comments %}
  {% if not comment.is_deleted %}
  <div class="comment-content">
    <dl class="comment-author-wrap">
      <dt class="a11y-hidden">Author</dt>
      {% if comment.writer.is_active %}
        <dd class="author"><a href="{% url 'user:profile' user_id=comment.writer.pk %}"><img src="{{ comment.writer.profile.image }}" alt="profile image" />{{ comment.writer }}</a></dd>
      {% else %}
        <dd class="author"><img src="{% static '/images/anonymous.png' %}" alt="" /> -- </dd>
      {% endif %}
      <dt class="a11y-hidden">Created</dt>
      <dd class="created">{{ comment.created_at }}</dd>
    </dl>
    <div class="comment-content-box">
      <p>{{ comment.content }}</p>
      <form action="{% url 'blog:cm-like' post_id=post.pk comment_id=comment.pk %}" method="post">
        {% csrf_token %}
        {% if comment.pk in like_comment_list %}
          <button type="submit" class="btn-like liked">{{ comment.like_count }}</button>
        {% else %}
          <button type="submit" class="btn-like">{{ comment.like_count }}</button>
        {% endif %}
        
      </form>
    </div>
    <div class="comment-btn-wrap">
      {% if user == comment.writer %}
        <form action="{% url 'blog:cm-delete' comment_id=comment.pk %}" method="post">
          {% csrf_token %}
          <button class="btn-delete">
            <span class="a11y-hidden">delete</span>
          </button>
        </form>
      {% endif %}
      <button class="recomment btn-comment" cm_id="{{comment.pk}}">댓글</button>
      <form action="{% url 'blog:cm-write' post_id=post.pk %}" method="post" class="comment-form no-display" >
        {% csrf_token %}
        <textarea name="content"></textarea>
        <input type="hidden" name="parent_comment" value="{{comment.pk}}">
        <input type="submit" value="작성" class="btn-comment">
        <input type="button" class="recomment-cancel btn-comment" value="취소">
      </form>
    </div>
    {% else %}
    <div class="comment-content">
      <dl class="author-wrap">
        <dt class="a11y-hidden">Author</dt>
        <dd class="author"><img src="{% static '/images/anonymous.png' %}" alt="" />-</dd>
        <dt class="a11y-hidden">Created</dt>
        <dd class="created">-</dd>
      </dl>
      <div class="comment-content-box">
        <p class="deleted-comment">삭제된 코멘트 입니다.</p>
      </div>
    {% endif %}
    {% if comment.child_comments %}
      {% with comment.child_comments.all as comments %}
        {% include 'blog/comments.html' %}
      {% endwith %}
    {% endif %}
  </div>
{% endfor %}