{% extends "base.html" %}
{% load static %}
  {% block title %}
    {{ title }}
  {% endblock title %}
  {% block head %}
    <link rel="stylesheet" href="{% static '/css/wrapbox.css' %}" />
    <link rel="stylesheet" href="{% static '/css/view.css' %}" />
  {% endblock head %}
  {% block content %}
    <!-- post view -->
    <div class="view">
			<div class="max-width">
				<section class="wrap-box">
					<div class="inner">
            <div class="title-wrap">
							<h2>정상적이지 않은 접근입니다.</h2>
						</div>
            <div class="view-contents">
              {% if messages %}
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
						</div>
					</div>
				</section>
			</div>
		</div>
    <!-- //post view -->
  {% endblock content %}