{% extends "base.html" %}
{% load static %}
  {% block title %}
    {{ title }}
  {% endblock title %}
  {% block head %}
    <link rel="stylesheet" href="{% static '/css/about.css' %}" />
    <!-- component -->
    <link rel="stylesheet" href="{% static '/css/button.css' %}" />
    <link rel="stylesheet" href="{% static '/css/banner.css' %}" />
    <link rel="stylesheet" href="{% static '/css/category.css' %}" />
    <link rel="stylesheet" href="{% static '/css/author.css' %}" />
    <link rel="stylesheet" href="{% static '/css/post.css' %}" />
    <link rel="stylesheet" href="{% static '/css/posts.css' %}" />
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
  {% endblock head %}
  {% block content %}
    <!-- banner -->
		<div class="banner">
			<div class="max-width">
				<div class="banner-contents">
					<p class="sub-text">React Blog</p>
					<p class="main-text">My BLOG</p>
					<p class="description">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nostrum dolor provident beatae deserunt magnam, illo neque. Maiores ipsum commodi dolorum beatae aliquid laboriosam est
					</p>
				</div>
			</div>
		</div>
		<!-- //banner -->

		<!-- main -->
		<main>
			<!-- posts -->
			<div class="max-width">
				<h2 class="a11y-hidden">Post</h2>
				<ul class="posts">
          {% for post in posts %}
          <li>
						<a href="#" class="post">
							<article>
								<img src="{% static '/images/post-img6.jpg' %}" alt="" />
								<div class="contents-wrap">
									<!-- category -->
									<dl class="category">
										<dt class="a11y-hidden">Category</dt>
                    {% for tag in post.tag_set.all %}
                      <dd>{{ tag }}</dd>
                    {% endfor %}
									</dl>
									<!-- //category -->

									<h3>{{ post.title }}</h3>

									<!-- author -->
									<dl class="author-wrap">
										<dt class="a11y-hidden">Author</dt>
										<dd class="author"><img src="{% static '/images/profile.jpg' %}" alt="" /> {{ post.user }}</dd>
										<dt class="a11y-hidden">Created</dt>
										<dd class="created">{{ post.created_at }}</dd>
									</dl>
									<!-- //author -->

									<p class="post-description">
										{{ post.content }}
									</p>
								</div>
							</article>
						</a>
					</li>
          {% endfor %}
					
				</ul>
				<!-- //posts -->

				<!-- about -->
				<aside class="about">
					<h2>About Me</h2>
					<img src="{% static '/images/profile.jpg' %}" alt="" class="user-profile" />
					<p class="user-name">Chilli</p>
					<p class="user-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<h3>Categories</h3>
					<ul class="categories">
						<li><a href="#">Life</a></li>
						<li><a href="#">Style</a></li>
						<li><a href="#">Tech</a></li>
						<li><a href="#">Sport</a></li>
						<li><a href="#">Photo</a></li>
						<li><a href="#">Develop</a></li>
						<li><a href="#">Music</a></li>
					</ul>
					<h3>Follow</h3>
					<ul class="sns">
						<li>
							<a href="#">
								<img src="{% static '/assets/Facebook.svg' %}" alt="Facebook" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static '/assets/Twitter.svg' %}" alt="Twitter" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static '/assets/Instagram.svg' %}" alt="Instagram" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static '/assets/Github.svg' %}" alt="GitHub" />
							</a>
						</li>
					</ul>
				</aside>
				<!-- //about -->
			</div>
		</main>
		<!-- //main -->
  {% endblock content %}