{% extends "base.html" %}
{% load static %}
{% block head %}
  <!-- layout -->
  <link rel="stylesheet" href="{% static '/css/about.css' %}" />
  <!-- component -->
  <link rel="stylesheet" href="{% static '/css/post.css' %}" />
  <link rel="stylesheet" href="{% static '/css/posts.css' %}" />
  <link rel="stylesheet" href="{% static '/css/main.css' %}" />
{% endblock head %}
{% block content %}
  <!-- main -->
  <main>
    <!-- search -->
    <div class="max-width search">
      <div class="category-select">
        <p class="a11y-hidden">Category Select</p>
        <ul class="categories">
          <li><a href="/blog/search/All">All</a></li>
          {% for tag in tag_list %}
            <li><a href="/blog/search/{{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="sort-select">
        <p class="a11y-hidden">Sort Option Select</p>
        <ul class="sort-options">
          {% for option, name in search_option.search_list.items %}
            {% if option != search_option.sort_option %}
              <li><a href="/blog/search/{{ option }}">{{ name }}</a></li>
            {% else %}
              <li><a class="current-sort" href="/blog/search/{{ option }}">{{ name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- //search -->
    <!-- posts -->
    <div class="max-width">
      <h2 class="a11y-hidden">Post</h2>
      <ul class="posts">
        {% if posts %}
          {% for post in posts %}
          <li>
            <a href="{% url 'blog:detail' post_id=post.pk %}" class="post">
              <article>
                <img src="{{ post.thumbnail }}" alt="" class="thumbnail"/>
                <div class="contents-wrap">
                  <!-- category -->
                  <dl class="category">
                    <dt class="a11y-hidden">Category</dt>
                    {% with post.tag_set.all as tags %}
                      {% for tag in tags %}
                        <dd>{{ tag.name }}</dd>
                      {% endfor %}
                    {% endwith %}
                  </dl>
                  <!-- //category -->
                  <h3>{{ post.title }}</h3>
                  <!-- author -->
                  <dl class="author-wrap">
                    <dt class="a11y-hidden">Author</dt>
                    {% if post.writer.is_active %}
                      <dd class="author"><img src="{{ post.writer.profile.image }}" alt="" /> {{ post.writer }}</dd>
                    {% else %}
                      <dd class="author"><img src="{% static '/images/anonymous.png' %}" alt="" />탈퇴한 유저입니다.</dd>
                    {% endif %}
                  </dl>
                  <dl class="stat-wrap">
                    <dt class="a11y-hidden">Created</dt>
                    <dd class="created">{{ post.created_at }}</dd>
                    <dt class="a11y-hidden">Created</dt>
                    <dd class="view">조회수: {{ post.view_count }}</dd>
                  </dl>
                  <!-- //author -->
                  <p class="post-description">
                    {{ post.content|striptags }}
                  </p>
                </div>
              </article>
            </a>
          </li>
          {% endfor %}
        {% else %}
          <li>
            <a href="{% url 'blog:write' %}" class="post">
              <article>
                <img src="/static/images/post-img1.jpg" alt="" />
                <div class="contents-wrap">
                  <h3>작성된 게시물이 없습니다.</h3>
                  <p class="post-description">
                    게시글을 작성해주세요.
                  </p>
                </div>
              </article>
            </a>
          </li>
        {% endif %}
      </ul>
      <!-- //posts -->      
      <aside>
        <div class="page-select">
          <p class="a11y-hidden">Page Select</p>
          <ul class="pages">
          {% if not search_option.category_name %}
            {% for page in paginator.page_range %}
              {% if page != posts.number %}
                <li><a href="/blog/?page={{page}}">{{page}}</a></li>
              {% else %}
                <li><a class="current-page" href="/blog/?page={{page}}">{{page}}</a></li>
              {% endif %}
            {% endfor %}
          {% else %}
            {% for page in paginator.page_range %}
              {% if page != posts.number %}
                <li><a class="search-page" href="/blog/search/{{page}}">{{page}}</a></li>
              {% else %}
                <li><a class="search-page current-page" href="/blog/search/{{page}}">{{page}}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}
          </ul>
        </div>
      </aside>
      <!-- about -->
      <aside class="about max-width">
        <h2>About Me</h2>
        <img src="{% static '/images/my_profile.png' %}" alt="" class="user-profile" />
        <p class="user-name">Kim Bareum</p>
        <p class="user-description">주니어 개발자 입니다.</p>
        <h3>Follow</h3>
        <ul class="sns">
          <li>
            <a href="https://github.com/kimbareum/OrmiMidProject1">
              <img src="{% static '/assets/Github.svg' %}" alt="GitHub" />
            </a>
          </li>
          <li>
            <a href="mailto:right.kim93@gmail.com">
              <img src="{% static '/assets/Mail.svg' %}" alt="mail" />
            </a>
          </li>
        </ul>
      </aside>
      <!-- //about -->
    </div>
  </main>
  <!-- //main -->
{% endblock content %}
{% block script %}
  <script>
    const category_btns = document.querySelectorAll(".categories a");
    const sort_btns = document.querySelectorAll(".sort-options a");
    const page_btns = document.querySelectorAll(".search-page")
    let sort_option = '{{search_option.sort_option}}' || 'reverse';
    let category = '{{search_option.category_name}}' || 'All';
    let page = '{{ posts.number }}' || '1';

    const activate_link = () => {
      location.href = `/blog/search/?category=${category}&&sort=${sort_option}&&page=${page}`;
    }

    category_btns.forEach(btn => {
      btn.addEventListener('click', (event) => {
        event.preventDefault();
        const link_text = event.target.href.split('/');
        category = link_text[link_text.length-1];
        activate_link();
      })
    })

    sort_btns.forEach(btn => {
      btn.addEventListener('click', (event) => {
        event.preventDefault();
        const link_text = event.target.href.split('/');
        sort_option = link_text[link_text.length-1];
        activate_link();
      })
    })

    if (page_btns) {
      page_btns.forEach(btn => {
        btn.addEventListener('click', (event) => {
          event.preventDefault();
          const link_text = event.target.href.split('/');
          page = link_text[link_text.length-1];
          activate_link();
        })
      })
    }
  </script>  
{% endblock script %} 