{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static '/css/wrapbox.css' %}" />
  <link rel="stylesheet" href="{% static '/css/view.css' %}" />
  <link rel="stylesheet" href="{% static '/css/comment.css' %}" />
{% endblock head %}
{% block content %}
  <!-- post view -->
  <div class="view">
    <div class="max-width">
      <section class="wrap-box">
        <div class="inner">
          {% if not post.is_deleted %}
            <!-- author -->
            <dl class="author-wrap">
              <dt class="a11y-hidden">Author</dt>
              <dd class="author"><img src="{{ post.writer.profile.image }}" alt="" />{{ post.writer }}</dd>
              <dt class="a11y-hidden">Created</dt>
              <dd class="created">{{ post.created_at }}</dd>
            </dl>
            <!-- //author -->

            <!-- category -->
            <dl class="category">
              <dt class="a11y-hidden">Category</dt>
              {% if tags %}
                {% for tag in tags %}
                  <dd><a href="/blog/?category={{tag}}">{{ tag }}</a></dd>
                {% endfor %}
              {% else %}
                <dd>no tags</dd>
              {% endif %}
            </dl>
            <!-- //category -->
            <!-- content -->
            <div class="title-wrap">
              <h2>{{ post.title }}</h2>
              <button class="btn-like">Like</button>
            </div>
            <div class="view-wrap">
              <p>조회수: {{ post.view_count }}</p>
            </div>
            <hr />
            <div class="view-contents">
              <p>{{ post.content|safe }}</p>
            </div>
            <!-- //content -->
            <hr />
            <!-- comment -->
            {% if user.is_authenticated %}
                <form action="{% url 'blog:cm-write' post_id=post.pk %}" method="post" class="comment-form">
                  {% csrf_token %}
                  <textarea name="content"></textarea>
                  <input type="submit" value="작성" class="btn-comment">
                </form>
            {% endif %}
            <div class="comment-wrap">
              {% if comments %}
                {% include 'blog/comments.html' %}
              {% else %}
                <div class="comment-content">
                  <p>댓글이 없습니다.</p>
                </div>
              {% endif %}
            </div>
            <!-- comment -->
            <div class="btn-group">
              <a href="{% url 'blog:edit' post_id=post.pk %}" class="btn-modify">
                <span class="a11y-hidden">modify</span>
              </a>
              <form action="{% url 'blog:delete' post_id=post.pk %}" method="post" class="comment-form">
                {% csrf_token %}
                <button type="submit" class="btn-delete">
                  <span class="a11y-hidden">delete</span>
                </button>
              </form>
            </div>
            <a href="/back" class="btn-back">
              <span class="a11y-hidden">Back</span>
            </a>
          {% else %}
            <!-- author -->
            <dl class="author-wrap">
              <dt class="a11y-hidden">Author</dt>
              <dd class="author"><img src="{% static '/images/anonymous.png' %}" alt="" />--</dd>
              <dt class="a11y-hidden">Created</dt>
              <dd class="created">--</dd>
            </dl>
            <!-- //author -->
            <!-- content -->
            <div class="title-wrap">
              <h2>삭제된 게시물입니다.</h2>
            </div>
            <hr />
            <div class="view-contents">
              <p>사용자나 관리자에 의해서 삭제된 게시물입니다.</p>
            </div>
            <!-- //content -->
            <hr />
            <a href="{% url 'blog:list' %}" class="button gray">돌아가기</a>
            <a href="/back" class="btn-back">
              <span class="a11y-hidden">Back</span>
            </a>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
  <!-- //post view -->
{% endblock content %}
{% block script %}
  <script src="{% static '/js/comments.js' %}"></script>
{% endblock script %}