{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/wrapbox.css' %}" />
<link rel="stylesheet" href="{% static '/css/view.css' %}" />
{% endblock head %}

{% block content %}
<div class="view">
  <div class="max-width">
    <section class="wrap-box">
      <div class="inner">
        <div class="title-wrap">
          <h2>회원가입</h2>
        </div>
        <hr>
        <div class="register-form">
          <form action="{% url 'user:register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="회원가입">
          </form>
        </div>
    </section>
  </div>
</div>
{% endblock content %}