.comment-wrap {
    margin-left: -30px;
}

.comment-content {
    margin-left: 30px;
}

.comment-author-wrap {
    height: 3.2rem;
    display: flex;
	gap: 1rem;
	color: #767676;
	font-size: 1.2rem;
    margin-top: 20px;
}

.comment-author-wrap dd,
.comment-author-wrap a {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.comment-author-wrap img {
    width: 2em;
	height: 2em;
	border-radius: 50%;
}

.comment-content-box {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 8rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
}
.comment-content-box h2 {
	width: 100%;
	text-transform: none;
}

.comment-content-box h2 {
	font-size: 3.2rem;
	font-weight: bold;
}
.comment-content-box button {
	flex-shrink: 0;
}

.comment-content .btn-group {
    position:relative;
	display: flex;
	align-items: center;
	gap: 0.8rem;
	font-size: 1.6rem;
    top: 0;
    right: 0;
}

.comment-content .btn-like {
	width: 7rem;
    background: var(--white-color) url(../assets/icon-like.svg) 0.8rem 50% no-repeat;
}

.comment-content .btn-like:hover,
.comment-content .btn-like.active {
	background: var(--red-color) url(../assets/icon-like-white.svg) 0.8rem 50% no-repeat;
	color: var(--white-color);
}
.comment-content .btn-like:focus {
	outline-color: rgba(var(--red-rgb), 0.2);
	box-shadow: none;
}

.comment-content .btn-like.liked {
    background: var(--red-color) url(../assets/icon-like-white.svg) 0.8rem 50% no-repeat;
    color: var(--white-color);
}

.comment-content .btn-like:hover,
.comment-content .btn-like.active {
	background: var(--white-color) url(../assets/icon-like.svg) 0.8rem 50% no-repeat;
	color: inherit;
}
.comment-content .btn-like:focus {
	outline-color: rgba(var(--red-rgb), 0.2);
	box-shadow: none;
}



.comment-btn-wrap {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.comment-form {
    display: flex;
    width: 100%;
    flex-grow: 2;
    gap: 0.8rem;
}

.comment-form textarea{
    flex-grow: 2;
    resize: none;
    outline:none;
}

.comment-form textarea:active, 
.comment-form textarea:focus, 
.comment-form textarea:hover {
    outline: none;
}

.deleted-comment {
    color: var(--gray-text)
}