.profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-thumbnail {
    max-width: 10rem;
}

.profile-wrap {
    display: inline-flex;
    gap: 1rem;
}

.profile-btns .btn-modify {
    width: 16rem;
    height: 4rem;
    padding-left: 4rem;
    line-height: 4rem;
    background: var(--gray-background) url(../assets/icon-modify.svg) no-repeat 1.7rem 50% / 1.6rem;
    
}

.profile-btns .btn-delete{
    width: 13rem;
    height: 4rem;
    padding-left: 4rem;
    line-height: 4rem;
    background: var(--gray-background) url(../assets/icon-delete.svg) no-repeat 1.7rem 50% / 1.6rem;
}

.profile-btns .btn-modify:hover {
    background: var(--main-color) url(../assets/icon-modify-white.svg) no-repeat 1.7rem 50% / 1.6rem;
    color: var(--white-color)
}

.profile-btns .btn-delete:hover {
    background: var(--main-color) url(../assets/icon-delete-white.svg) no-repeat 1.7rem 50% / 1.6rem;
    color: var(--white-color)
}

